body{
    font-size: 14px;
    ul,li,ol{list-style: none; padding: 0; margin: 0;}
    a{text-decoration: none; color: #333;}  
}
@media (min-width:1024px) {
    body{
        font-size: 16px;
    }
}
.scroll{
    .header{
        position: fixed;
        left:0; right:0;
        z-index: 10000;
        margin-top:-58px;
    }
}
.header{
    border: 1px solid #ffffff;
    font-size: 1.2rem;
    transition: 2s;
    h1{
        a{
            img{
                height:2rem;
                 }
            }
        }
    #gnb{
        border: 1px solid #dadada;
        >li{
            width: 7rem;
            
            position: relative;
            
            padding-left: 2.5rem;
            ul{
                border: 1px solid #686868;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                height: 0;
                overflow: hidden;
                transition: 0.2s;
                li{
                    width: 7rem;
                    padding: 0 0.5rem 0 1rem;
                    
                    a{
                        font-size: 0.8rem;
                        color: #333;
                    }
                }
            }
        }
    }
}
#gnb{
    >li:hover{
        >a{
            color: #bd8b00;
        }
        >ul{
            background-color: white;
            height: 117.19px;
            li:hover{
                >a{
                    
                }
            }
        }
    }
}
.banner{
    border: 1px solid #686868;
    background-color: #ffffff;
    height: 50vh;
}












// .stairs{
//     margin-top: 1rem;
//     border-top: #333 0.5px solid;
//     .stairs1{width: 9rem; height: 0.2rem; background-color: #333;}
//     .stairs2{}
//     .stairs3{}
// }
